.frontPage{
	height: 100vh;
	width: 100%;
	
	background-image: url("image/background.png");
	background-size: cover;
	font-family: "Calibri", cursive, sans-serif;
	font-size: 75px;
	color: #ffffff;
	text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

body{
	margin: 0px;
}

.link-yt{

}

	.link-yt img {
	    -webkit-transition: all 1s ease; /* Safari and Chrome */
	    -moz-transition: all 1s ease; /* Firefox */
	    -ms-transition: all 1s ease; /* IE 9 */
	    -o-transition: all 1s ease; /* Opera */
	    transition: all 1s ease;
	}

	.link-yt:hover img {
	    -webkit-transform:scale(1.25); /* Safari and Chrome */
	    -moz-transform:scale(1.25); /* Firefox */
	    -ms-transform:scale(1.25); /* IE 9 */
	    -o-transform:scale(1.25); /* Opera */
	     transform:scale(1.25);
	}

.link-4chan{

}

	.link-4chan img {
	    -webkit-transition: all 1s ease; /* Safari and Chrome */
	    -moz-transition: all 1s ease; /* Firefox */
	    -ms-transition: all 1s ease; /* IE 9 */
	    -o-transition: all 1s ease; /* Opera */
	    transition: all 1s ease;
	}

	.link-4chan:hover img {
	    -webkit-transform:scale(1.25); /* Safari and Chrome */
	    -moz-transform:scale(1.25); /* Firefox */
	    -ms-transform:scale(1.25); /* IE 9 */
	    -o-transform:scale(1.25); /* Opera */
	     transform:scale(1.25);
	}

.link-tpb{

}

	.link-tpb img {
	    -webkit-transition: all 1s ease; /* Safari and Chrome */
	    -moz-transition: all 1s ease; /* Firefox */
	    -ms-transition: all 1s ease; /* IE 9 */
	    -o-transition: all 1s ease; /* Opera */
	    transition: all 1s ease;
	}

	.link-tpb:hover img {
	    -webkit-transform:scale(1.25); /* Safari and Chrome */
	    -moz-transform:scale(1.25); /* Firefox */
	    -ms-transform:scale(1.25); /* IE 9 */
	    -o-transform:scale(1.25); /* Opera */
	     transform:scale(1.25);
	}

.link-nyaa{

}

	.link-nyaa img {
	    -webkit-transition: all 1s ease; /* Safari and Chrome */
	    -moz-transition: all 1s ease; /* Firefox */
	    -ms-transition: all 1s ease; /* IE 9 */
	    -o-transition: all 1s ease; /* Opera */
	    transition: all 1s ease;
	}

	.link-nyaa:hover img {
	    -webkit-transform:scale(1.25); /* Safari and Chrome */
	    -moz-transform:scale(1.25); /* Firefox */
	    -ms-transform:scale(1.25); /* IE 9 */
	    -o-transform:scale(1.25); /* Opera */
	     transform:scale(1.25);
	}

.centerText{
	text-align: center;
}

.flexContainer{
	display: flex;
	justify-content: space-around;

}

.borders{
	border: 10px solid black;
}